<h1 class="title">beer-o-crat</h1>

<ul class="upcoming-beers">

<% @upcoming_beers.each do |beer| %>
	<li class="beer">
		<span class="name"><%= beer.name %></span>
		<span class="brewery"><%= beer.brewery  %></span>
		<span class="requested-by"><%= beer.requested_by %></span>
		
		<form action="<%= tap_beer_path(beer.id) %>" method="post" class="tap-form">
		</form>

	</li>
<% end %>

</ul>

<div class="current-beer">
<% if @current_beer %>
	<span class="name"><%= @current_beer.name %></span>
	<span class="brewery"><%= @current_beer.brewery %></span>
	<span class="origin"><%= @current_beer.origin %></span>

	<dl class="details">
		<dt class="label">Website</dt>
		<dd class="value">
			<% unless @current_beer.website %>
				<a href="<%= @current_beer.website %>"><%= @current_beer.brewery %> <%= @current_beer.name %></a>
			<% else %>
				<%= @current_beer.brewery %> <%= @current_beer.name %>
			<% end %>
		</dd>

		<dt class="label">Alcohol %</dt>
		<dd class="value"><%= @current_beer.alcohol %></dd>

		<dt class="label">Requested by</dt>
		<dd class="value"><%= @current_beer.requested_by %></dd>

		<dt class="label">On tap since</dt>
		<dd class="value"><%= @current_beer.date_tapped %></dd>
	</dl>
	
	<button class="describe-button">Describe</button>
	<button class="untap-button">Untap</button>
<% end %>
</div>

<ul class="past-beers">

<% @past_beers.each do |beer| -%>
	<li class="beer">
		<span class="name"><%= beer.name %></span>
		<span class="emptied_by"><%= beer.emptied_by %></span>
		<span class="date_emptied"><%= beer.date_emptied %></span>
	</li>
<% end %>

</ul>

<% if @current_beer %>
<form action="<%= untap_beer_path(@current_beer.id) %>" method="post" id="untap_form">
	<label>
		Name of the lucky winner
		<input type="text" name="emptied_by" />
	</label>
</form>

<form action="<%= describe_beer_path(@current_beer.id) %>" method="post" id="describe_form">
	<label>
		Name
		<input type="text" name="beer[name]" value="<%= @current_beer.name %>" />
	</label>
		<label>
		Brewery
		<input type="text" name="beer[brewery]" value="<%= @current_beer.brewery %>" />
	</label>
		<label>
		Origin
		<input type="text" name="beer[origin]" value="<%= @current_beer.origin %>" />
	</label>
		<label>
		Picture (url)
		<input type="text" name="beer[picture]" value="<%= @current_beer.picture %>" />
	</label>
		<label>
		Website
		<input type="text" name="beer[website]" value="<%= @current_beer.website %>" />
	</label>
		<label>
		Alcohol %
		<input type="text" name="beer[alcohol]" value="<%= @current_beer.alcohol %>" />
	</label>
</form>
<% end %>

<button class="request-beer-button">Request Beer</button>
<form action="<%= beers_path() %>" method="post" id="request_form">
	<label>
		Your Name
		<input type="text" name="beer[requested_by]" />
	</label>
	<label>
		Beer Name
		<input type="text" name="beer[name]" />
	</label>
	<label>
		Brewery Name
		<input type="text" name="beer[brewery]" />
	</label>
</form>

<%= javascript_include_tag 'jquery.1.5.1.min' %>
<%= javascript_include_tag 'jquery-ui-1.8.11.custom.min' %>
    
<script type="text/javascript">
$(function(){
	$('.describe-button').click(function(e){
		$('#describe_form').dialog({
			title: "Describe the current beer on tap",
			buttons: {
				Cancel: function(){ $(this).dialog('close'); },
				Ok: function() {  
					$(this).submit();
				}
			}
		})
	})
	
	$('.untap-button').click(function(){
		$('#untap_form').dialog({
			title: 'Untap the current beer',
			buttons: {
				"Oops, it didn't": function(){ $(this).dialog('close'); },
				"We'll get another one": function() {  
					$(this).submit();
				}
			},
			width: 350,
			height: 200
		});	
	})
	
	$('.request-beer-button').click(function(){
		$('#request_form').dialog({
			title: 'Request a beer',
			buttons: {
				"I forgot": function(){ $(this).dialog('close'); },
				"We should get this": function() {  
					$(this).submit();
				}
			}
		});	
	})
	
	//this removes from the dom, look how to clone instead
	$('.upcoming-beers .beer, .upcoming-beers .beer .name').click(function(){
		$(this).closest('.beer').dialog({
			title: 'Beer details',
			buttons: {
				"Maybe next time": function(){ $(this).dialog('close'); },
				"Tapped it": function() {  
					$(this).find('form').submit();
				}
			}
		})
	})
	
	$('.past-beers .beer, .past-beers .beer .name').click(function(){
		$(this).closest('.beer').dialog({
			title: 'Beer details',
			buttons: {
				"Got it": function(){ $(this).dialog('close'); }
			}
		})
	})
})
</script>
