<h1 class="title">beer-o-crat</h1>

<ul class="upcoming-beers">
	<li class="beer">
		<span class="name">Fat Tire</span>
		<span class="brewery">SweetWater</span>
		<span class="requested-by">Ian Culling</span>
	</li>
</ul>

<div class="current-beer">
	<span class="name"><%= @current_beer.name %></span>
	<span class="brewery"><%= @current_beer.brewery %></span>
	<span class="origin"><%= @current_beer.origin %></span>

	<dl class="details">
		<dt class="label">Website</dt>
		<dd class="value"><a href="<%= @current_beer.website %>"><%= @current_beer.brewery %> <%= @current_beer.name %></a></dd>

		<dt class="label">Alcohol %</dt>
		<dd class="value"><%= @current_beer.alcohol %></dd>

		<dt class="label">Requested by</dt>
		<dd class="value"><%= @current_beer.requested_by %></dd>

		<dt class="label">On tap since</dt>
		<dd class="value"><%= @current_beer.date_tapped %></dd>
	</dl>
</div>

<ul class="past-beers">

<% @past_beers.each do |beer| -%>
<li class="beer">
	<span class="name"><%= beer.name %></span>
	<span class="emptied_by"><%= beer.emptied_by %></span>
	<span class="date_emptied"><%= beer.date_emptied %></span>
</li>
<% end -%>

</ul>