<h1>Beer-O-Crat</h1>

<h3>Upcoming Beers</h3>
<ul class="upcoming-beers">
	<li class="beer">
		<span class="name">Fat Tire</span>
		<span class="brewery">SweetWater</span>
		<span class="requested-by">Ian Culling</span>
	</li>
</ul>

<div class="current-beer">
	<h2>Current Beer</h2>

	<span class="name"><%= @current_beer.name %></span>
	<span class="brewery"><%= @current_beer.brewery %></span>
	<span class="origin"><%= @current_beer.origin %></span>

	<dl class="details">
		<dt>Website</dt>
		<dd><a href="<%= @current_beer.website %>"><%= @current_beer.brewery %> <%= @current_beer.name %></a></dd>

		<dt>Alcohol %</dt>
		<dd><%= @current_beer.alcohol %></dd>

		<dt>Requested by</dt>
		<dd><%= @current_beer.requested_by %></dd>

		<dt>On tap since</dt>
		<dd><%= @current_beer.date_tapped %></dd>
	</dl>
</div>

<h3>Past Beers</h3>
<ul class="past-beers">
	<li class="beer">
		<span class="name">Fat Tire</span>
		<span class="emptied_by">Dan Lash</span>
		<span class="date_emptied">2011-02-17</span>
	</li>
</ul>