<h1 class="title">beer-o-crat</h1>

<ul class="upcoming-beers">

<% @upcoming_beers.each do |beer| %>
	<li class="beer">
		<span class="name"><%= beer.name %></span>
		<span class="brewery"><%= beer.brewery  %></span>
		<span class="requested-by"><%= beer.requested_by %></span>
		
		<form action="<%= tap_beer_path(beer.id) %>" method="post" class="tap-form">
			<button type="submit" >Tap</button>
		</form>

	</li>
<% end %>

</ul>

<div class="current-beer">
<% if @current_beer %>
	<span class="name"><%= @current_beer.name %></span>
	<span class="brewery"><%= @current_beer.brewery %></span>
	<span class="origin"><%= @current_beer.origin %></span>

	<dl class="details">
		<dt class="label">Website</dt>
		<dd class="value"><a href="<%= @current_beer.website %>"><%= @current_beer.brewery %> <%= @current_beer.name %></a></dd>

		<dt class="label">Alcohol %</dt>
		<dd class="value"><%= @current_beer.alcohol %></dd>

		<dt class="label">Requested by</dt>
		<dd class="value"><%= @current_beer.requested_by %></dd>

		<dt class="label">On tap since</dt>
		<dd class="value"><%= @current_beer.date_tapped %></dd>
	</dl>
	
	<button class="describe">Describe</button>
<% end %>
</div>

<ul class="past-beers">

<% @past_beers.each do |beer| -%>
	<li class="beer">
		<span class="name"><%= beer.name %></span>
		<span class="emptied_by"><%= beer.emptied_by %></span>
		<span class="date_emptied"><%= beer.date_emptied %></span>
	</li>
<% end %>

</ul>

<% if @current_beer %>
<form action="<%= untap_beer_path(@current_beer.id) %>" method="post" id="untap_form">
	<button type="submit" >Untap</button>
</form>

<form action="<%= describe_beer_path(@current_beer.id) %>" method="post" id="describe_form">
	<label>
		Name
		<input type="text" name="beer[name]" value="<%= @current_beer.name %>" />
	</label>
		<label>
		Brewery
		<input type="text" name="beer[brewery]" value="<%= @current_beer.brewery %>" />
	</label>
		<label>
		Origin
		<input type="text" name="beer[origin]" value="<%= @current_beer.origin %>" />
	</label>
		<label>
		Picture (url)
		<input type="text" name="beer[picture]" value="<%= @current_beer.picture %>" />
	</label>
		<label>
		Website
		<input type="text" name="beer[website]" value="<%= @current_beer.website %>" />
	</label>
		<label>
		Alcohol %
		<input type="text" name="beer[alcohol]" value="<%= @current_beer.alcohol %>" />
	</label>
</form>
<% end %>

<form action="<%= beers_path() %>" method="post" id="request_form">
	<label>
		Your Name
		<input type="text" name="beer[requested_by]" />
	</label>
	<label>
		Beer Name
		<input type="text" name="beer[name]" />
	</label>
	<label>
		Brewery Name
		<input type="text" name="beer[brewery]" />
	</label>
	<button type="submit" >Request</button>
</form>

<%= javascript_include_tag 'jquery.1.5.1.min' %>
<%= javascript_include_tag 'jquery-ui-1.8.11.custom.min' %>
    
<script type="text/javascript">
$(function(){
	$('.describe').click(function(e){
		$('#describe_form').dialog({
			title: "Describe the current beer on tap",
			buttons: {
				Cancel: function(){ $(this).dialog('close'); },
				Ok: function() {  
					$(this).submit();
				}
			}
		})
	})
	
})
</script>
